

body{
    margin: 0;


   background: #000000;
  background: linear-gradient(
    to right,
    #ffffff,#727274   
  );
}
/*encabezado*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #262627;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav .logo{
    font-size: 1.Srem;
}

.logo{
      color: white;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 1px;
    font-family:'Pricedown Bl';
    font-size: 2.3em;
    
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.3s;
}

.nav-links a:hover{
    color: #00ff88;
    text-shadow: 0 0 10px #00ff88;
}

.seleccion{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.9)),
    url("https://wallpapers.com/images/hd/gta-sa-4k-masked-man-f143gdql3uewgbda.jpg");

    background-size: cover;
    background-position: center;
    color: white;
}

.seleccion h1{
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 4px;
    color: #00ff88;
    text-shadow: 0 0 20px #00ff88;
    margin-bottom: 20px;
}

.pagina{
    font-size: 20px;
    margin-bottom: 20px;
}

.btn{
    list-style: none;
    padding: 12px 30px;
    background: #00ff88;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
    
}

.btn:hover{
    background: black;
    color: #00ff88;
    box-shadow: 0 0 20px #00ff88;
}




.Mipagina{
    
    font-family:'Pricedown Bl';
    font-size: 2.3em;
    
    
}


/*titulos y sub, parrafo */

h1{
    font-family:'Pricedown Bl';
    text-align: center;
    font-size: 70px;
    
}

/*fuente que descargue (gta sa)*/
@font-face {
    font-family: "Pricedown Bl" ;
    src: url("fuentes/Pricedown\ Bl.otf");

}

.subti01{
    font-family:'Pricedown Bl';
}
.parrafo{
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;

}

/*Footer*/
.footer{
    background: #111;
    color: white;
    padding: 40px 0;
    text-align: center;
    margin-top: 50px;
    border-top: 3px solid #00ff88;
}

.footer h2{
    color: #00ff88;
    margin-bottom: 10px;
    font-size: 28px;
    text-shadow: 0 0 10px #00ff88;
}

.footer p{
    margin: 5px 0;
    color: #ccc;
}

.redes{
    margin: 20px 0;
    font-family:Arial, Helvetica, sans-serif;
}

.redes a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: 0.3s;
}

.redes a:hover{
    color: #00ff88;
    text-shadow: 0 0 10px #00ff88;
}

.copy{
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}
.ulti{
    font-family:'Pricedown Bl';
}
