body{


   background: #000000;
  background: linear-gradient(
    to right,
    #ffffff,#727274   
  );
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255)55, 0, 0;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70px;
    background-color: #727274;
    padding: 10px 40px;
    
}

.Mipagina{
    
    font-family:'Pricedown Bl';
    
}

nav ul{
    list-style: none;
    padding: 6px;
    margin: 0% auto;
    display: flex;
    grid-row: auto;
    justify-content: center;
    font-family:'Pricedown Bl';

}

.logo{
    display: grid;
    align-items: center;
    justify-content: center;
    gap:40px;
    
    
}

.logo-img{
    
    height: 80px;
    margin-right: 15px;
    
    
}

nav{
    padding: 15px;
}

nav a{
    padding: 10px;
}

nav a:hover{
    color:azure
}

@media (min-width:600px){
    header{
        flex-direction: row;
        padding: 0px 30px;
        justify-content: space-between;
    }
}


h1{
    font-family:'Pricedown Bl';
    text-align: center;
    font-size: 70px;
    
}


@font-face {
    font-family: "Pricedown Bl" ;
    src: url("fuentes/Pricedown\ Bl.otf");

}

.subti01{
    font-family:'Pricedown Bl';
}
.parrafo{
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;

}
